<config> <!-- configuration file for quantum scattering solver -->
    <potential>square_well</potential> <!-- coulomb, square-well, wacky -->
    <method>spherical</method> <!-- low_energy, spherical, born -->
    <potential_parameters> <!-- potential parameters -->
        <a>10.0</a>  <!-- Constant for coulomb, V for square well-->
        <b>5.0</b>  <!-- Radius of square well -->
        <c>1.0</c>
        <d>1.0</d>
    </potential_parameters>
    <method_parameters> <!-- method parameters -->
        <m>1.0</m> <!-- mass-->
        <k>1.0</k> <!-- wave number -->
        <theta>90.0</theta> <!-- theta angle -->
        <phi>0.0</phi> <!-- phi angle -->
    </method_parameters>
    <integration_parameters>
        <num_samples>100</num_samples> <!-- number of integration points -->
        <min_radius>0.1</min_radius> <!-- minimum radius -->
        <max_radius>10.0</max_radius> <!-- maximum radius -->
    </integration_parameters>
    <output> <!-- output parameters -->
        <file>output.dat</file> <!-- output file name-->
    </output>
</config>